/* #79aeb2 #79aeb2 #ebfeff #d6fcff #d6fcff*/
html {
  overflow-x: hidden;
}

body {
  background-color: #79aeb2;

  padding-inline: 10%;
  padding-top: 10vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;

  gap: 1rem;

  color: #ebfeff;
}

#interactive-map {
  padding-inline: 15vw;
  margin-top: 4rem;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#interactive-map > #map {
  display: grid;

  background-color: lightblue;
}

#map > .cell {
  width: 1.5vw;

  grid-column: var(--x);
  grid-row: var(--y);

  aspect-ratio: 1/1;
}

#map > .choosable {
  transition: 0.1s;
}

#map > .choosable:hover {
  scale: 1.1 1.1;
  outline: 1px solid black;
}

.cell:has(.with-tooltip) {
  position: relative;
}

.with-tooltip > .tooltip {
  position: absolute;
  top: 0;
  left: 105%;

  width: 150px;

  text-overflow: unset;

  visibility: hidden;

  background-color: white;

  padding: 0.2rem;

  font-size: 12px;
}

.with-tooltip > .tooltip h3,
p {
  padding: 0;
  margin: 0;
}

.with-tooltip:hover > .tooltip {
  visibility: visible;
}

svg {
  vertical-align: top;
}

#controls {
  grid-column: 1 / 3;
  grid-row: 1;

  display: flex;
  align-items: center;

  gap: 1rem;

  color: #ebfeff;

  padding-inline: 1em;
}

#log {
  color: rgb(175, 74, 74);
  text-align: center;
  font-size: 1.5rem;
}

#controls > button {
  all: unset;

  display: flex;
  align-items: center;

  aspect-ratio: 1 / 1;
  padding: 0.1em;

  border-radius: 15%;

  font-size: 2rem;

  transition: 0.3s;
}

#controls > button:hover {
  background-color: #d6fcff;
  color: #79aeb2;
}

#controls > button:active {
  background-color: #79aeb2;
  color: #ebfeff;
}

#ship-table {
  grid-column: 1 / 3;
  grid-row: 2;
}
